<html>
<% include ../partials/head %>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <div id="container">
          <!-- content condition -->

            <!-- content with side -->

            <div id="content" class="pure-g">
                <div class="pure-u-1">

      <div style="font:9pt 'Helvetica Neue'">
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
              <li><a href="#messages" data-toggle="tab">Messages</a></li>
          </ul>
          <div id="my-tab-content" class="tab-content" style="font:9pt 'Helvetica Neue'">
              <div style="padding:15px 0;" class="tab-pane active" id="profile">

                  <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading">회원 정보</div>
                      <div class="panel-body">
                          <p>비밀번호는 암호화되어 저장되어 서버에서도 알 수 없습니다.<br>
                          회원 정보를 변경하려면 하단의 [회원 정보 변경하기] 버튼을 클릭해 주세요.<br></p>
                      </div>
                      <!-- Table -->
                      <table class="table" style="font:9pt 'Helvetica Neue'">
                          <style scoped>
                              i { margin-left:5px; }
                          </style>
                          <tr><td>아이디</td><td><%= user.userId %></td></tr>
                          <tr><td>비밀번호</td><td><%= user.password %></td></tr>
                          <tr><td>이름</td><td id="td-name"><%= user.userName %></td></tr>
                          <tr><td>이메일 주소</td><td id="td-email"><%= user.email %></td></tr>
                          <tr><td>전화번호</td><td id="td-mobile"><%= user.phone %></td></tr>
                          <tr><td>회원 권한</td><td><%= user.userLevel %></td></tr>
                          <tr><td>가입일</td><td><%= user.createdAt %></td></tr>
                          <tr><td>만기일</td><td><%= user.expireAt %></td></tr>
                          <tr><td>프로필사진<div ><img src="<%= user.picture %>" alt="avatar"  height="70" width="70"></div></td><td>
                            <form id="progressForm" name="progressForm" action="/file/photoUp" method="post" enctype="multipart/form-data">
                              <input type="file" id="fileTarget" name="userPhoto" required>
                              <input type="submit" value="파일 업로드">
                            </form>
                            <div class="progress">
                              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar">
                                <span id="percent"></span>
                              </div>
                            </div>
                            <div id="status"></div>

                          </td></tr>
                      </table>
                  </div>
                  <a href="/auth/profile/update" class="btn btn-default">회원 정보 변경하기</a>

              </div>

              <div style="padding:15px 0;" class="tab-pane" id="messages">
                  <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading">메시지함</div>
                      <div class="panel-body">
                          <p>준비중입니다.</p>
                      </div>
                      <!-- Table -->
                      <table class="table" style="font:9pt 'Helvetica Neue'">
                          <tr>
                              <td width="15%"> 보낸이</td>
                              <td>내용</td>
                              <td width="10%">보낸 시각</td>
                              <td width="10%">읽은 시각</td>
                          </tr>
                          <tr>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>


      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script>

          jQuery(document).ready(function ($) {
              $('#tabs').tab();
          });

          (function() {

          var bar = $('.progress-bar');
          var percent = $('#percent');
          var status = $('#status');
          var formValid = false;
          $('#progressForm').ajaxForm({
              beforeSend: function() {
                  status.empty();
                  var percentVal = '0%';
                  bar.width(percentVal)
                  percent.html(percentVal);

                  if (ValidateUploadForm()) {
                      formValid = true;
                      bar.addClass('progress-bar-striped');
                      bar.removeClass('progress-bar-success');
                      bar.addClass('progress-bar-info');
                      bar.addClass('active');
                  } else {
                      formValid = false;
                  }
                  return formValid; // form submit 제어는 안된다.
              },
              uploadProgress: function(event, position, total, percentComplete) {
                if (formValid) {
                  var percentVal = percentComplete + '%';
                  bar.width(percentVal)
                  percent.html(percentVal);
                }
              },
              success: function() {
                if (formValid) {
                  var percentVal = '100%';
                  bar.width(percentVal)
                  percent.html(percentVal);
                }
              },
          	complete: function(xhr) {
                if (formValid) {
                  bar.removeClass('active');
                  bar.removeClass('progress-bar-striped');
                  bar.removeClass('progress-bar-info');
                  bar.addClass('progress-bar-success');
              		status.html(xhr.responseText);
                }
          	}
          });

          function ValidateUploadForm() {
                var fileTarget = $('#fileTarget').val();
                if ( fileTarget !== '' && fileTarget.length > 0){
                  console.log('ValidateUploadForm true !!!! ');
                  return true;
                } else {
                    console.log('ValidateUploadForm false !!!! ');
                  return false;
                }
          }

          })();

      </script>
                  </div>
              </div>


    </div>
  <!-- end of set layout style-->

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>

<script src="/javascripts/responsive-menu.js"></script>
</html>
