<!DOCTYPE html>
<html>
  <% include ../partials/head %>

<body>
  <header>
    <% include ../partials/header %>
  </header>

    <div id="container">
        <!-- content condition -->



        <!-- content with side -->

        <div id="content" class="pure-g">
            <div class="pure-u-1">

<link rel="stylesheet" href="/stylesheets/board.view.detail.css">
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/stylesheets/jquery.magnific-popup.css">


<div class="document_wrapper">
    <div class="document_header">
        <span class="document_subject"><%= post.subject %></span>
        <span class="document_regdate"><%= moment(post.createdAt).format('YYYY-MM-DD a hh:mm:ss') %> 조회 <em><%= post.hits %></em></span>
        <span class="document_writer"><%= post.author.userName %></span>
    </div>

    <div class="document_content mg-popup-gallery">
        <%- post.content %>

        <br>
        <div >
        <span class="tags"> <%= post.tags %> </span>
        </div>

    </div>

    <div class="document_footer">

      <% if( user && user.userId === post.author.userId) { %>
      <button id="btn_document_delete" class="btn btn-danger btn-alt" style="float:right; margin-left:5px;" onclick="deleteDocumentAlert('board','<%= post._id %>')">
                  삭제</button>
              <a href="/board/edit/post/<%= post._id %>?page=<%= page %>" class="btn btn-default btn-alt" id="btn_document_edit"
              style="float:right;">수정</a>
      <% } %>
        <a class="btn btn-default btn-alt" href="/board?page=<%= page %>&keyword=<%= keyword %>&where=<%= where %>" style="float:left;">목록</a>
    </div>
</div>

<div class="comment_wrapper">
    <div class="comment_header">
        <span>댓글 <em><%= comments.length %> </em></span>
    </div>

    <% if(comments) { %>
      <% comments.forEach(function(comment){ %>
          <div class="row comment" style="padding:0; margin:0;">

            <div class="col-sm-2 comment_info">
                <span class="writer"><strong><%= comment.author.userName %></strong></span>
                <span class="created_at"><%= moment(post.createdAt).format('YYYY-MM-DD hh:mm:ss'); %></span>
            </div>

            <div class="col-sm-10 comment_content_box">
                <span class="comment_content" style="display: block; overflow: hidden" id="comment_<%= comment._id %>"><%- comment.content %></span>
                <span class="mobileOnly">    <strong><em><%= comment.author.userName %></em></strong> 님이 <%= moment(post.createdAt).format('YYYY-MM-DD hh:mm:ss'); %> 에 작성 </span>
                <div class="comment_footer">
                  <% if( user && user.userId == comment.author.userName) { %>
                  <button id="btn_comment_edit_<%= comment._id %>" class="btn_comment_edit btn btn-default btn-sm" onclick=editButtonClicked('<%= comment._id %>','<%= post._id %>,<%= page %>')>수정</button>
                  <button id="editmode_<%= comment._id %>" class="editmode btn btn-primary btn-sm">수정 완료</button>
                  <button class="btn_comment_delete btn btn-default btn-sm" onclick=deleteCommentAlert('board','<%= post._id %>','<%= comment._id %>')>삭제</button>
                  <% } %>
                </div>
            </div>
        </div>

      <% }) %>
    <% } %>

    <div class="comment_write_form">
        <form class="form-horizontal" action="/board/add/comment/<%= post._id %>?page=<%= page %>" id=form_insertComment method="POST">

            <% if( user && user.userId) { %>
            <textarea class="form-control" rows="3" id="input_insertComment" name="comment[content]" placeholder="이곳에 댓글을 입력합니다." ></textarea>
            <button style="margin-top:5px;" class="btn btn-primary btn-sm btn-block" id="btn_insertComment" />댓글 등록</button>
            <% }  else { %>
              <textarea class="form-control" rows="3" id="input_insertComment" name="comment[content]" placeholder="로그인 후 댓글을 입력 할 수있습니다." disabled></textarea>
              <button style="margin-top:5px;" class="btn btn-primary btn-sm btn-block" id="btn_insertComment" disabled />댓글 등록</button>
            <% } %>
        </form>
    </div>
</div>
    <!-- if user doesn't log in, the form and button will be unable. -->




<!-- Magnific Popup core JS file -->
<script src="/javascripts/jquery.magnific-popup.min.js"></script>

<script type="text/javascript">
  $(document).ready( function() {
      return;
      // TODO html tag 제어시 로그인여부 판단할 데이터 필요
      // var commentArea = document.getElementsById('btn_document_delete');
      // var cmmentBtn = $("#btn_document_delete");
      // var commentArea = $("#input_insertComment");
      // if(  ){
      //  commentArea.disabled = true;
      //  commentArea.placeholder = '123'
      // } else {
      //  commentArea.disabled = false;
      // commentArea.placeholder = '456'
      // }
   });
</script>

<script>

    <% if( isFocusComment ) { %>
        <% if( comments.length > 0 ) { %>
          // 댓글 등록 시 오토스크롤
          $('html, body').animate({
                  scrollTop: $("#comment_<%= comments[comments.length - 1 ]._id %>").offset().top - 100
              }, 500);
        <% } else { %>
          // 댓글 등록 시 오토스크롤
          $('html, body').animate({
                  scrollTop: $("#document_footer").offset().top
              }, 500);
        <% } %>
    <% } %>
    // 폼이 제출될 때 beforeunload, unload 에 bind 되어 있는 이벤트 제거
    $('#form_insertComment').submit(function(){
        $(window).unbind('beforeunload');
        $(window).unbind('unload');
    })

    // textarea 에 내용이 있을 때 경고 메시지 출력
    $(window).on('beforeunload', function(){
        if ($('#input_insertComment').val().length > 30){
            return "작성중인 내용이 사라집니다. 계속 하시겠습니까?";
        }
    });

    // 첨부된 문서도 같이 삭제
    // $(window).on('unload', function(){
    //     if($('#uploads').val().length > 1) {
    //         $.ajax({
    //             type: "DELETE",
    //             url: "/file/abort",
    //             data: { uploads : $('#uploads').val()},
    //             success: function(result){
    //                 alert(result);
    //             }
    //         });
    //     }
    // });

    $('#btn_insertComment').click(function (){
        var content_data = $('#input_insertComment').val();
        if(content_data.length > 0 ){
           $('#btn_insertComment').attr('disabled', true);
           $('#form_insertComment').submit();
           return true;
        } else {
          alert('댓글을 입력하세요 응?!');
          $('#input_insertComment').focus();
          return false;
        }
    });

    $('.editmode').hide();

    // 댓글 수정 버튼 클릭 시
    function editButtonClicked(comment_id, postId, page) {

        $('#btn_insertComment').attr('disabled', true);

        $('#comment_' + comment_id).replaceWith
        ("<textarea id='content_edited_comment' class='form-control' rows='5'>"+$('#comment_' + comment_id).text()+"</textarea>");
        $(this).val('완료');
        // Hide all delete buttons
        $('.btn_comment_delete').hide();
        // Hide all edit buttons except itself
        $('.btn_comment_edit').hide();
        $('#editmode_'+comment_id).show();

        // Hide article's edit and delete button
        $('#btn_document_delete').hide();
        $('#btn_document_edit').hide();

        $(this).attr('id', 'editmode');
        console.log('attr has been changed. :' + $(this).attr('id'));

        // when user submit EDIT FINISH button, sending ajax call.
        $('#editmode_'+comment_id).click(function () {

            var content_data = $('#content_edited_comment').val();

            if(content_data.length<= 0 ){
              alert('댓글을 입력하세요 응?!');
              $('#content_edited_comment').focus();
              return false;
            }

            $.ajax({
                type: 'PUT',
                url: '/board/edit/comment/' + comment_id + '?page='+page,
                data: {postId:postId, comment_content: content_data},
                success: function (data) {
                    $('#content_edited_comment').replaceWith("<span class='comment_content' id=comment_"+comment_id+">" + content_data + "</span>");
                    $('.btn_comment_delete').show();
                    // Hide all edit buttons except itself
                    $('.btn_comment_edit').show();
                    $('#editmode_'+comment_id).hide();
                    // Hide article's edit and delete button
                    $('#btn_document_delete').show();
                    $('#btn_document_edit').show();
                    $('#btn_insertComment').attr('disabled', false);
                }
            });

        })
    }

    // 문서 삭제
    function deleteDocumentAlert(board_mid, post_id){
        if (!confirm('삭제하시겠습니까?')) return false;

        $.ajax({
            type : 'DELETE',
            url : "/board/delete/post/"+post_id,
            success : function(data){
                if(data.success){
                  alert(data.message);
                  location.href = '/'+board_mid;
                } else {
                  alert(data.message);
                }
            }
        });
    }

    // 댓글 삭제
    function deleteCommentAlert(board_mid, postId, comment_id){

        if (!confirm('삭제하시겠습니까?')) return false;
        $.ajax({
            type : 'DELETE',
            url : "/"+board_mid+"/delete/comment/"+comment_id,
            data : {postId: postId},
            success : function(data){
                location.reload();
            }
        });
    }

    // 로그인 정보가 없을 시에 alert 메시지 출력
    $('#form_insertComment').submit(function(){
        if( $('#input_insertComment').prop('disabled')){
            alert('You need to login !');
            return false;
        }
        return true;
    });

</script>


<link rel="stylesheet" href="/stylesheets/board.view.list.css">

<table id="table-typical" class="table table-horizontal">
    <thead>
        <tr>
            <th width="10%">번호</th>
            <th>제목</th>
            <th width="10%">글쓴이</th>
            <th width="15%">작성일</th>
            <th width="10%" class="center">조회</th>
        </tr>
    </thead>
    <tbody>
    <% if(notices) { %>
      <% notices.forEach(function(post){ %>
        <tr style="font-weight:600;" class="info">
            <td>공지</td>
            <td><a href="/board/detail/<%= post._id %>?page=<%= page %>&keyword=<%= keyword %>&where=<%= where %>" class="article">
                  <span style="padding-right:50px !important;"><%= post.subject %>
                    <% if(post.comments.length > 0) { %>
                      <span id="comment_count">[ <%= post.comments.length %> ]</span>
                    <% } %>
                    <% if( post.content && post.content.search('img class=') >= 0 ) { %>
                      <i class="fa fa-file-image-o" style="margin-left:2px; color:#666;"></i>
                    <% } %>
                    <% if( moment(post.createdAt).isSame( new Date() , 'day') ) { %>
                       <span class="label label-danger" style="margin-left:5px; padding: 2px 4px; font:5pt Tahoma arial;">new</span>
                    <% } %>
                  </span></a>
            </td>
            <td><%= post.author.userName %></td>
            <td><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></td>
            <td class="center"><%= post.hits %></td>
        </tr>
      <% }) %>
    <% } %>

  <% if(posts) { %>
      <% var i = 0; %>
      <% posts.forEach(function(post){ %>
        <tr id="<%= post._id%>">
            <td><%= totalCount - ((page-1) * 10) - i %></td>
            <td><a href="/board/detail/<%= post._id %>?page=<%= page %>&keyword=<%= keyword %>&where=<%= where %>" class="article">
                <span style="padding-right:50px !important;"><%= post.subject %>
                  <% if(post.comments.length > 0) { %>
                    <span id="comment_count">[ <%= post.comments.length %> ]</span>
                  <% } %>
                  <% if( post.content && post.content.search('img class=') >= 0 ) { %>
                    <i class="fa fa-file-image-o" style="margin-left:2px; color:#931;"></i>
                  <% } %>
                  <% if( post.content && post.content.search('iframe src=') >= 0 ) { %>
                    <i class="fa fa-file-video-o" style="margin-left:3px; color:#931;"></i>
                  <% } %>
                  <% if( moment(post.createdAt).isSame( new Date() , 'day') ) { %>
                     <span class="label label-danger" style="margin-left:5px; padding: 2px 4px; font:5pt Tahoma arial;">new</span>
                  <% } %>
                </span></a>
            </td>
            <td><%= post.author.userName %></td>
            <td><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss') %></td>
            <td class="center"><%= post.hits %></td>
        </tr>
        <% i++ %>
      <% }) %>
  <% } %>
    </tbody>
</table>

<nav style="text-align: center">
    <ul class="pagination pagination-sm">
        <li>
            <a href="/board?page=1&keyword=<%= keyword %>&where=<%= where %>" aria-label="Previous">
               처음
            </a>
        </li>
        <% for(i=0 ; i < maxPage ; i++) { %>
          <% if(page == i + 1 ){ %>
            <li class=active>
          <% } else { %>
            <li >
          <% } %><a href="/board?page=<%= i + 1 %>&keyword=<%= keyword %>&where=<%= where %>"><%= i + 1 %></a></li>
        <% } %>

        <li>
            <a href="/board?page=<%= maxPage %>&keyword=<%= keyword %>&where=<%= where %>" aria-label="Next">
                끝
            </a>
        </li>
    </ul>
</nav>


<div class="row">
    <div class="col-sm-6">
        <form id="search_form" action="/board/search" method="get">
            <div class="input-group" style="width:350px;">
                <span class="input-group-addon">
                    <select name="where"  id='select_where'>
                        <option value="subject">제목</option>
                        <option value="content">내용</option>
                        <option value="subject_or_content">제목+내용</option>
                        <option value="writer_name">이름</option>
                        <option value="writer_id">아이디</option>
                        <option value="tags">태그</option>
                    </select>
                </span>
                <input class="form-control" type="text" id="keyword" name="keyword" value="<%= keyword %>" />
                <span class="input-group-btn">
                    <button id='btn_search' type="submit" class="btn btn-default btn-alt"><i class="fa fa-search"></i> 검색</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <p class="text-right">
         <button id="btn_write_document" class="btn btn-primary btn-alt"><i class="fa fa-pencil"></i> 글쓰기</button>
        </p>
    </div>
</div>

<script type="text/javascript">

    // 현재 문서의 하이라이팅
    if('<%= where %>'){
      $("#select_where").val('<%= where %>');
    }

     $('#<%= post._id %>').attr('class','active');

    // 글쓰기 버튼 클릭 시
    $('#btn_write_document').click(function(){


            location.href = '/board/add/post';


    });

    $('.article').on('click', function(){

    });

    $('#btn_search').click(function(){
      var keyword = $('#keyword').val();

      if(keyword.length > 0) {
        $('search_form').submit();
        return true;
      } else {
        return false;
      }
    });

</script>





<script>
    $(document).ready(function() {
        $('.mg-popup-gallery').magnificPopup({
            fixedContentPos: true,
            delegate: '.mg-popup-img',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            closeOnContentClick: true,
            gallery: {
                enabled: true,
                navigateByImgClick: false,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });
    });
</script>

            </div>
        </div>


    </div>
    <!-- end of set layout style-->

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>

<script src="/javascripts/responsive-menu.js"></script>
</html>
