<!DOCTYPE html>
<html>
  <% include ../partials/head %>
<body>
  <header>
    <% include ../partials/header %>
  </header>


  <div id="container">
      <!-- content condition -->

      <div id="content-header">
          자유롭게 소통할 수 있는 공간입니다.
      </div>



      <!-- content with side -->

      <div id="content" class="pure-g">
          <div class="pure-u-1 pure-u-md-1-5 region">
              <div class="list-group list-special" style="border:1px solid #ddd;">

                  <a href="/board" class="list-group-item active">일반 타입</a>
                  <a href="/board/gallery" class="list-group-item">갤러리 타입</a>
              </div>
          </div>
          <div class="pure-u-1 pure-u-md-4-5 region">

            <link rel="stylesheet" href="/stylesheets/board.view.list.css">

            <table id="table-typical" class="table table-hover">
                <thead>
                    <tr>
                        <th width="10%">번호</th>
                        <th>제목</th>
                        <th width="10%">글쓴이</th>
                        <th width="15%">작성일</th>
                        <th width="10%" class="center">조회</th>
                    </tr>
                </thead>
                <tbody>
                <% if(notices) { %>
                  <% notices.forEach(function(post){ %>
                    <tr style="font-weight:600;" class="info">
                        <td>공지</td>
                        <td><a href="/board/detail/<%= post._id %>?page=<%= page %>&keyword=<%= keyword %>&where=<%= where %>" class="article">
                                <span style="padding-right:50px !important;"><%= post.subject %>
                                  <% if(post.comments.length > 0) { %>
                                    <span id="comment_count">[ <%= post.comments.length %> ]</span>
                                  <% } %>
                                  <% if( post.content && post.content.search('img class=') >= 0 ) { %>
                                    <i class="fa-file-image-o" style="margin-left:2px; color:#666;"></i>
                                  <% } %>
                                  <% if( moment(post.createdAt).isSame( new Date() , 'day') ) { %>
                                     <span class="label label-danger" style="margin-left:5px; padding: 2px 4px; font:5pt Tahoma arial;">new</span>
                                  <% } %>
                                </span></a>
                        </td>
                        <td><%= post.author.userName %></td>
                        <td><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss'); %></td>
                        <td class="center"><%= post.hits %></td>
                    </tr>
                  <% }) %>
                <% } %>

                <% if(posts) { %>
                  <% var i = 0; %>
                  <% posts.forEach(function(post){ %>
                    <tr id="<%= post._id%>">
                        <td><%= totalCount - ((page-1) * 10) - i %></td>
                        <td><a href="/board/detail/<%= post._id %>?page=<%= page %>&keyword=<%= keyword %>&where=<%= where %>" class="article">
                                <span style="padding-right:50px !important;"><%= post.subject %>
                                  <% if(post.comments.length > 0) { %>
                                    <span id="comment_count" style="margin-left:3px">[ <%= post.comments.length %> ]</span>
                                  <% } %>
                                  <% if( post.content && post.content.search('img class=') >= 0 ) { %>
                                    <i class="fa fa-file-image-o" style="margin-left:3px; color:#931;"></i>
                                  <% } %>
                                  <% if( post.content && post.content.search('iframe src=') >= 0 ) { %>
                                    <i class="fa fa-file-video-o" style="margin-left:3px; color:#931;"></i>
                                  <% } %>
                                  <% if( moment(post.createdAt).isSame( new Date() , 'day') ) { %>
                                     <span class="label label-danger" style="margin-left:5px; padding: 2px 4px; font:7pt Tahoma arial;">new</span>
                                  <% } %>
                                </span></a>
                        </td>
                        <td><%= post.author.userName %></td>
                        <td><%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss') %></td>
                        <td class="center"><%= post.hits %></td>
                    </tr>
                    <% i++ %>
                  <% }) %>
                <% } %>
                </tbody>
            </table>

            <nav style="text-align: center">
                <ul class="pagination pagination-sm">
                    <li>
                        <a href="/board?page=1&keyword=<%= keyword %>&where=<%= where %>" aria-label="Previous">
                           처음
                        </a>
                    </li>
                    <% for(i=0 ; i < maxPage ; i++) { %>
                      <% if(page == i + 1 ){ %>
                        <li class=active>
                      <% } else { %>
                        <li >
                      <% } %><a href="/board?page=<%= i + 1 %>&keyword=<%= keyword %>&where=<%= where %>"><%= i + 1 %></a></li>
                    <% } %>

                    <li>
                        <a href="/board?page=<%= maxPage %>&keyword=<%= keyword %>&where=<%= where %>" aria-label="Next">
                            끝
                        </a>
                    </li>
                </ul>
            </nav>


            <div class="row">
                <div class="col-sm-6">
                    <form id="search_form" action="/board/search" method="get">
                        <div class="input-group" style="width:350px;">
                            <span class="input-group-addon">
                                <select name="where" id='select_where'>
                                    <option value="subject">제목</option>
                                    <option value="content">내용</option>
                                    <option value="subject_or_content">제목+내용</option>
                                    <option value="writer_name">이름</option>
                                    <option value="writer_id">아이디</option>
                                    <option value="tags">태그</option>
                                </select>
                            </span>
                            <input class="form-control" type="text" id="keyword" name="keyword" value="<%= keyword %>"/>
                            <span class="input-group-btn">
                                <button id='btn_search' type="submit" class="btn btn-default btn-alt"><i class="fa fa-search"></i> 검색</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <p class="text-right">
                     <button id="btn_write_document" class="btn btn-primary btn-alt"><i class="fa fa-pencil"></i> 글쓰기</button>
                    </p>
                </div>
            </div>


            <script type="text/javascript">

                // 현재 문서의 하이라이팅
                if('<%= where %>'){
                  $("#select_where").val('<%= where %>');
                }

                // 글쓰기 버튼 클릭 시
                $('#btn_write_document').click(function(){

                  // var url = location.host;
                  // $(location).attr('href',url + '/board/add');
                        location.href = '/board/add/post';


                });

                $('.article').on('click', function(){

                });

                $('#btn_search').click(function(){
                  var keyword = $('#keyword').val();

                  if(keyword.length > 0) {
                    $('search_form').submit();
                    return true;
                  } else {
                    return false;
                  }
                });

            </script>

          </div>
      </div>
      <!-- content with no side -->

  </div>
      <!-- end of set layout style-->

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

<script src="/javascripts/responsive-menu.js"></script>
</html>
